<form #formref="ngForm" (ngSubmit)="submit(formref.value)">
    <label>username :</label>
    <input type="month" name="username" [(ngModel)]="username">
    {{username}}
    <div style="display: block"></div>

    <label>password :</label>
    <input type="password" name="password" ngModel>
    <div style="display: block"></div>

    <label>re-type password</label>
    <input type="password" name="password2" ngModel>
    <div style="display: block"></div>

    <label>First name :</label>
    <input type="text" name="first_name" ngModel>
    <div style="display: block"></div>

    <label>Lastname :</label>
    <input type="text" name="last_name" ngModel>
    <div style="display: block"></div>

    <label>Address :</label>
    <input type="text" name="address" ngModel>
    <div style="display: block"></div>

    <label>City :</label>
    <input type="text" name="city" ngModel>
    <div style="display: block"></div>

    <label>Zip :</label>
    <input type="number" name="zip" ngModel>
    <div style="display: block"></div>

    <button type="submit">Submit form</button>
</form>